@font-face {
  font-family: 'Montserrat';
  src: url(../font/Montserrat-Regular.ttf);
  font-weight: 400;
}

@font-face {
  font-family: 'Montserrat';
  src: url(../font/Montserrat-SemiBold.ttf);
  font-weight: 600;
}

@font-face {
  font-family: 'Montserrat';
  src: url(../font/Montserrat-Bold.ttf);
  font-weight: 700;
}
.logo-top{
  height: 72px;
  width: 225px;
  background-image: url(../img/logo.png);
  background-repeat: no-repeat;
}
html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

button {
  background-color: inherit;
  border: inherit;
}

.burger {
  display: none;
  background-image: url(../img/Component6.png);
  width: 30px;
  height: 23px;
  border: inherit;
  background-color: inherit;
}

.burger-menu {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100vh;
  background-color: #fff;
  z-index: 1000;
}

.au-list {
  justify-content: center;
}

body {
  min-width: 320px;
  margin: 0px;
  font-family: 'Montserrat', sans-serif;
}

.container {
  max-width: 1870px;
  padding: 0 50px;
  margin: 0 auto;
}

.hero {
  padding: 0px;
  height: 100%;
}

.swiper-slide {
  box-sizing: border-box;
  border-radius: 32px;
}

.swiper-slide {
  background-repeat: no-repeat;
  min-height: 620px;
  padding: 100px 80px;

}

.slide-headline {
  font-weight: 800;
  font-size: 70px;
  line-height: 85px;
  max-width: 837px;
  color: #FFFFFF;
  margin-bottom: 24px;
}

.slide-text {
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  color: #FFFFFF;
  max-width: 790px;
  margin-bottom: 90px;
}

.slide-btn {
  display: block;
  font-family: "Montserrat";
  box-sizing: border-box;
  padding: 25px 39px;
  border-radius: 16px;
  color: #FFFFFF;
  border: none;
  background-color: #FF9900;
  font-weight: 700;
  font-size: 23px;
  line-height: 28px;
  cursor: pointer;
}

.slide-btn:focus-visible {
  background-color: #FFB84D;
  outline: none;
}

.slide-btn:hover {
  background-color: #FFB84D;
}

.slide-btn:active {
  background-color: #E1670E;
}

.section_four {
  margin-bottom: 120px;
}

.logo-top {
  background-size: cover;
}

header {
  box-shadow: 0px 5px 40px rgba(0, 0, 0, 0.1);
  border-radius: 0px 0px 32px 32px;
  margin-bottom: 50px;
}

.header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-top: 14px;
  padding-bottom: 14px;
  align-items: center;
}

.logo {
  display: flex;
  background-size: cover;
}

nav {
  padding: 25px 0px;
  display: flex;
  flex-wrap: wrap;
}

.nav-list {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  padding-left: 0px;
  gap: 85px;
  align-items: center;
  margin-bottom: 0px;
  margin-top: 0px;
}

.nav-item {
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  color: #000;
  text-decoration: none;
  text-underline-offset: 7px;
}

.nav-item:focus-visible {
  outline: 2px solid #FF9900;
  outline-offset: 5px;
}

.nav-item:hover {
  padding-bottom: 10px;
  text-decoration: underline 2px #FF9900;
}

.nav-item-btn {
  border: none;
  background-color: inherit;
  padding-bottom: 0px !important;
  cursor: pointer;
}

.about-us__headline {
  font-weight: 400;
  font-size: 48px;
  line-height: 59px;
  color: #333;
  margin-bottom: 20px;
}

.au-description {
  max-width: 1235px;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  color: #333333;
  margin-bottom: 50px;
}

.au-list {
  display: flex;
  flex-wrap: wrap;
}

.au-left {
  display: flex;
  max-width: 868px;
  max-height: 622px;
  background: url(../img/Rectangle2.jpg);
  background-size: 100;
  margin-right: 32px;
  align-items: end;
  min-height: 622px;
  box-sizing: border-box;
  border-radius: 32px;
}

.au-left-down {
  display: flex;
  background: rgba(0, 0, 0, 0.5);
  max-height: 196px;
  padding-left: 50px;
  padding-top: 50px;
  padding-bottom: 50px;
  padding-right: 50px;
  box-sizing: border-box;
  border-radius: 32px;
  align-items: center;
}

.au-left-text {
  font-weight: 700;
  font-size: 16px;
  line-height: 32px;
  color: #fff;
  max-width: 454px;
  margin-right: 139px;
}

.au-btn {
  display: flex;
  padding: 20px 38px;
  max-height: 60px;
  border: 3px solid #FF9900;
  font-weight: 700;
  font-size: 16px;
  color: #FFFFFF;
  text-decoration: none;
  border-radius: 16px;
  align-content: center;
  align-items: center;
}

.au-btn:hover {
  background: #FF9900;
  border: 3px solid #FF9900;
}

.au-btn:focus-visible {
  background: #FF9900;
  border: 3px solid #FF9900;
  outline: none;

}

.au-btn:active {
  background-color: #E1670E;
  border: 3px solid #E1670E;
}

.au-right {
  display: flex;
  flex-direction: column;
  gap: 32px;
  min-width: 870px;
}

.au-right-card {
  display: flex;
  justify-content: space-between;
  border: 1px solid #CACACA;
  max-width: 870px;
  padding-left: 60px;
  padding-top: 65px;
  padding-bottom: 65px;
  max-height: 295px;
  padding-right: 100px;
  box-sizing: border-box;
  border-radius: 32px;
}

.au-right-texts {
  max-width: 870px;
}

.au-right-img-one {
  background-image: url(../img/Frame16.png);
  background-repeat: no-repeat;
  background-position: left center;
  min-height: 165px;
  min-width: 190px;
}

.au-right-img-two {
  background-image: url(../img/Frame12.png);
  background-repeat: no-repeat;
  background-position: left center;
  min-height: 165px;
  min-width: 190px;
}

.svg-au {
  margin-right: 50px;
}

.au-right-head {
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  color: #333;
  margin-bottom: 8px;
}

.au-right-text {
  max-width: 450px;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  color: #333;
}

.au-img {
  background-size: cover;
}

.our-work__headline {
  font-weight: 400;
  font-size: 48px;
  line-height: 59px;
  color: #333333;
  margin-bottom: 50px;
}

.ow {
  display: flex;
  flex-wrap: wrap;
}

.our-work__list {
  max-width: 900px;
}

.our-work__tab button {
  cursor: pointer;
  outline: none;
}

.our-work__tab:hover button {
  color: #FF9900;
  outline: none;
}

.our-work__tab button:focus-visible {
  outline: 2px solid #FF9900;
  outline-offset: 3px;
}

.our-work__tab button:active {
  color: #E1670E;
  outline: none;
}

.our-work__tab_one,
.our-work__tab_two,
.our-work__tab_three {
  margin-right: 85px;
}

.our-work__tab_one button,
.our-work__tab_two button,
.our-work__tab_three button,
.our-work__tab_four button {
  font-family: "Montserrat";
  border: none;
  background-color: #fff;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #000000;
}

.our-work__list {
  margin-bottom: 45px;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  padding-left: 0px;
}

.our-work__content {
  display: flex;
  flex-wrap: nowrap;
  align-content: stretch;
  align-items: stretch;
  margin-bottom: 111px;
}

.our-work__head {
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  color: #333333;
  margin-bottom: 8px;
}

.our-work__text {
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  color: #000;
  max-width: 758px;
  margin-bottom: 18px;
}

.img-art {
  width: 870px;
  height: 460px;
}

.our-work__texts {
  display: flex;
  flex-direction: column;
  margin-right: 50px;
}

.our-work__btns {
  height: 100%;
}

.our-work__btn__orange {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #fff;
  padding: 20px 38px;
  background-color: #FF9900;
  margin-right: 32px;
  border-radius: 16px;
  border-style: solid;
  border-color: #FF9900;
  font-family: inherit;
  cursor: pointer;
  margin-bottom: 10px;
}

.our-work__btn__orange a {
  color: #fff;
  text-decoration: none;
}

.our-work__btn__orange:hover {
  background-color: #FFB84D;
}

.our-work__btn__orange:focus-visible {
  background-color: #FFB84D;
  outline: none;
  border: 1px solid #FFB84D;
}

.our-work__btn__orange:active {
  background-color: #E1670E;
}

.our-work__btn__transparent {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #000;
  padding: 20px 38px;
  background-color: #fff;
  margin-right: 32px;
  border-radius: 16px;
  border: 1px solid #000;
  font-family: inherit;
  cursor: pointer;
}

.our-work__btn__transparent a {
  color: #000;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-decoration: none;
}

.our-work__btn__transparent:hover {
  color: #fff;
  background-color: #666666;
  border: none;
}

.our-work__btn__transparent:focus-visible {
  color: #fff;
  background-color: #666666;
  outline: none;
  border: #666666;
}

.our-work__btn__transparent:active {
  color: #fff;
  background-color: #000000;
}

.an-list {
  padding-left: 0px;
  margin-bottom: 100px;
}

.an-headline {
  font-weight: 400;
  font-size: 48px;
  line-height: 59px;
  color: #333333;
  margin-bottom: 32px;
}

.our-work__img {
  background-repeat: no-repeat;
  background-position: right;
  background-size: cover;
  max-width: 870px;
  box-sizing: border-box;
  border-radius: 32px;
  width: 100%;
  height: 460px;
  object-fit: cover;
}

.our-work__img__one {
  background-image: url(../img/Rectangle18.png);
}

.our-work__img__two {
  background-image: url(../img/Rectangle19.png);
}

.our-work__img__three {
  background-image: url(../img/Rectangle20.png);
}

.our-work__img__four {
  background-image: url(../img/Rectangle21.png);
}

.an-art {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  background-image: url(../img/х1.png);
  background-repeat: no-repeat;
  background-position: right;
  padding: 34px 0px;
}

.an-art:hover {}

.an-art:focus-visible {}

.an-art:active {}

hr {
  height: 1px;
}

.an-head {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  color: #333333;
}

.container_six {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

footer {
  background: #000;
  padding: 50px 75px;
}

.footer-left {
  max-width: 263px;
  margin-right: 0px;
}

.footer-logo {
  margin-bottom: 20px;
}

.footer-list {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  padding-left: 0px;
  margin-bottom: 90px;
}

.footer-item button {
  display: flex;
  font-weight: 600;
  font-size: 18px;
  line-height: 36px;
  color: #CACACA;
  cursor: pointer;
  border: none;
  background-color: inherit;
  font-family: "Montserrat";
}

.footer-item button:hover {
  color: #FF9900;
}

.footer-item button:focus-visible {
  outline: 1px solid #FF9900;
  outline-offset: 1px;
}

.footer-item button:active {
  color: #E1670E;
}

.social {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  list-style-type: none;
  padding-left: 0px;

}

.footer-social path:hover {
  fill: #FF9900;
}

.social a:focus-visible {
  outline: 2px solid #FF9900;
}

.footer-social path:active {
  fill: #E1670E;
}

.footer-center {
  max-width: 570px;
}

.footer-headline {
  font-weight: 400;
  font-size: 48px;
  line-height: 59px;
  color: #CACACA;
  margin-bottom: 25px;
}

.form {
  list-style-type: none;
  padding-left: 0px;
}

input::placeholder,
textarea::placeholder {
  color: #CACACA;
  font-family: "Montserrat";
}

.form-input {
  background: #414141;
  height: 60px;
  min-width: 570px;
  margin-bottom: 25px;
  border: none;
  border-radius: 16px;
  padding: 14px 24px;
}

.form-input:hover,
.form-input:focus-visible,
.form-input:active {
  background-color: #666;
  outline: none;
}

.form-input_1 {
  height: 150px;
  margin-bottom: 32px;
  resize: none;
  outline: none;
}

.form-input_1:hover,
.form-input_1:focus-visible,
.form-input_1:active {
  background-color: #666;
  outline: none;
}

.form-btn-div {
  display: flex;
  align-items: center;
  justify-content: center;
}

.form-btn {
  display: flex;
  padding: 19px 52px;
  background-color: #FF9900;
  color: #fff;
  font-weight: 700;
  height: 100%;
  cursor: pointer;
  border-radius: 16px;
  font-family: "Montserrat";
  border: none;
}

.form-btn:hover {
  background: #FFB84D;
}

.form-btn:focus-visible {
  background: #FFB84D;
  outline: none;
}

.form-btn:active {
  background: #E1670E;
}

.container_six {
  padding: 0px;
}

.footer-right {
  display: flex;
}

.footer-text {
  max-width: 320px;
  margin-top: 87px;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  color: #CACACA;
  max-width: 366px;
}

.social__btn:hover path {
  fill: #FF9900;
}

.social__btn:focus-visible {
  fill: #FF9900;
  outline: 2px solid #FF9900;
  outline-offset: 5px;
}

.social__btn:active path {
  fill: #E1670E;
}

.accordion-list {
  list-style: none;
  padding-left: 0px;
}

.acc-headline {
  font-weight: 400;
  font-size: 48px;
  line-height: 59px;
  color: #333333;
  margin-bottom: 50px;
}

.ac {
  margin-top: -1px;
  border-width: 1px;
  border-color: transparent transparent #cacaca;
  border-style: solid;
}

.ac:first-child {
  border-color: #cacaca transparent #cacaca;
}

.ac:hover {
  border-color: #FF9900 transparent #FF9900;
}

.acc-item__title {
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
}

.ac-trigger {
  position: relative;
  display: flex;
  cursor: pointer;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  border: none;
  background: transparent;
  font-size: 20px;
  text-align: left;
  font-weight: 700;
  min-height: 70px;
  margin: 0;
  padding-left: 0;
}

.ac-panel {
  overflow: hidden;
}


.acc-item__title {
  text-align: left;
  padding: 35px 0px;
  margin-right: 30px;
}

.acc-item__text {
  margin: 0;
  font-size: 14px;
  color: #ccc;
  padding: 1em 2.2em;
  border-top: 0;
  overflow: auto;
}

.acc-item__accord {
  display: block;
  min-width: 50px;
  height: 50px;
  transition: transform ease;
  background-repeat: no-repeat;
  background-image: url(../img/х1.png);
}

.ac:hover,
.ac:focus,
.ac:active {
  border-top: 1px solid #FF9900;
}

.ac:hover .ac-trigger,
.ac:focus .ac-trigger,
.ac:active .ac-trigger {
  color: 1px solid #FF9900;
}

.ac:hover .acc-item__accord,
.ac:focus .acc-item__accord {
  background-image: url(../img/х3.png);
}

.is-active .acc-item__accord {
  transform: rotate(45deg);
  background-image: url(../img/x3.png);
}

.ac-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  margin-bottom: 40px;
  max-width: 1000px;
}

.section_five {
  margin-bottom: 100px;
}

.au-left-img-hide {
  background-image: url(../img/Rectangle2.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 16px;
  height: 200px;
  width: 100%;
  margin-bottom: 8px;
}

.au-left-text-hide {
  font-weight: 400;
  font-size: 14px;
  line-height: 28px;
  color: #000;
  margin-bottom: 12px;
}

.au-left-btn-hide {
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
  color: #FF9900;
  padding: 12px 44px;
  box-sizing: border-box;
  border: #FF9900 2px solid;
  border-radius: 8px;
  max-width: 162px;
}

.au-left-hide {
  margin-bottom: 38px;
}

.au-right-img-hide-one {
  background-image: url(../img/Frame39.png);
  background-repeat: no-repeat;
  min-height: 49px;
  min-width: 64px;
  margin-bottom: 12px;
}

.au-right-img-hide-two {
  background-image: url(../img/Frame38.png);
  background-repeat: no-repeat;
  min-height: 49px;
  min-width: 64px;
  margin-bottom: 12px;
}

.au-right-head-hide {
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  color: #000000;
  margin-bottom: 4px;
}

.au-right-text-hide {
  font-weight: 400;
  font-size: 14px;
  line-height: 28px;
  color: #000000;
}

.au-right-card-hide-one {
  margin-bottom: 32px;
}

.tabs-nav__btn--active {
  color: #E1670E;
}

.our-work__content {
  display: none;
}

.our-work__content--active {
  display: flex;
}

.header__nav {
  position: fixed;
  width: 50%;
  height: 100vh;
  left: -120%;
  top: 0;
  min-width: 160px;
  z-index: 1000;
  padding-left: 50px;
  padding-top: 40px;
  box-shadow: 0 0 5px #888;
  background-color: #fff;
  overflow-y: auto;
  transform: visibility 0.3s ease-in-out, transform 0.3s ease-in-out;
  box-sizing: border-box;
  border-end-start-radius: 32px;
  border-end-end-radius: 32px;
}

.header__nav--active {
  left: 0;
}

.close {
  margin-bottom: 107px;
}

.header__nav .nav__list {
  flex-direction: column;
  list-style-type: none;
  padding-left: 0px;
}

.header__nav .nav__item:not(:last-child) {
  margin-right: 0;
  margin-bottom: 30px;
}

.header__nav .nav__link {
  font-size: 18px;
  font-weight: 700;
  font-size: 24px;
  color: #333;
  text-decoration: none;
}

.header__nav li {
  margin-bottom: 60px;
}

.header-nav--active {
  visibility: visible;
  transform: none;
}

.burger--active .burger__line:nth-child(2) {
  opacity: 0;
}

.nav__list {}

.swiper-slide__one {
  background-image: url(../img/low-angle-photo-of-balconies-2462015\ 1.png);
}

.swiper-slide__two {
  background-image: url(../img/hero-pic-1920-2.png);
}

.swiper-slide__three {
  background-image: url(../img/hero-pic-1920-3.png);
}

.swiper-pagination .swiper-pagination-bullet-active {
  width: 15px;
  height: 15px;
  background-color: #fff;
}

.swiper-pagination .swiper-pagination-bullet {
  width: 15px;
  height: 15px;
  background: #CACACA;
  margin-right: 16px !important;
  margin-bottom: 20px !important;
}

.swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
  margin: 0 var(--swiper-pagination-bullet-horizontal-gap, 10px);
}

.swiper-box {
  position: relative;
  width: 100%;
  height: 100%;
}

.swiper {
  position: absolute !important;
  width: 100%;
}

.section-offset {
  margin-bottom: 50px;
}

.about-us {
  margin-bottom: 100px !important;
}

.hero {
  min-height: 620px;
}

.text-box {
  position: relative;
  z-index: 1;
  padding: 80px;
  pointer-events: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.flex {
  display: flex;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

.header {
  position: relative;
}

.search {
  position: absolute;
  background: #FFFFFF;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.12);
  border-radius: 24px;
  padding: 16px 13px 16px 32px;
  justify-content: center;
  justify-content: space-between;
  transform: translateY(-100px);
  transition: transform 0.3s;
  right: -49px;
}

.search__form {
  display: flex;
  align-items: center;
  width: 539px;
  height: 60px;
}

.search__input {
  flex-grow: 1;
}

.search-active {
  transform: translateY(0px);
}

[type="search"] {
  -webkit-appearance: textfield;
}

.search button {
  width: 30px;
  height: 30px;
  border: none;
  background-color: transparent;
}

.search svg {
  width: 24px;
  height: 24px;
  fill: none;
}

.header__search {
  border: inherit;
  background-color: inherit;
  cursor: pointer;
}

.exit {
  margin-left: 20px;
  padding: 0px;
  cursor: pointer;
}

.search__button {
  margin-left: 14px;
  padding: 0px;
  cursor: pointer;
}

.search__input {
  border: none;
  border-bottom-style: inherit;
  border-bottom: 1px #CACACA solid;
  padding-bottom: 5px;
  -webkit-appearance: none;
}

.search__input:focus-visible {
  border: none;
  -webkit-appearance: none;
}

input[type=text]::-ms-clear {
  display: none;
  width: 0;
  height: 0;
}

input[type=text]::-ms-reveal {
  display: none;
  width: 0;
  height: 0;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  display: none;
}

input[type=search] {
  -moz-appearance: none;
  -webkit-appearance: none;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  display: none;
}

@media screen and (max-width:1870px) {
  .au-left {
    margin-bottom: 32px !important;
    margin-right: 0px !important;
  }

  .au-list {
    flex-direction: column;
    align-items: center;
  }

}

@media screen and (max-width:1530px) {
  .footer-right {
    display: none !important;
  }

  .burger-div {
    display: block !important;
  }

  .burger-img {
    display: block !important;
  }

  .x {
    height: 0%;
  }

  nav {
    display: none !important;

  }

  .burger {
    display: block;
  }

  .x {
    height: 0%;
  }
}

@media screen and (max-width:1116px) {
  .footer-list {
    display: none !important;
  }

  .container_six {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }

  .footer-center {
    margin-bottom: 69px;
    order: 1 !important;
    min-width: 541px !important;
    min-width: 290px !important;
    padding-bottom: 16px;
    border-bottom: 1px solid #414141;
    margin-bottom: 16px;
  }

  .footer-left {
    order: 2 !important;
  }

  .form-input {
    max-width: 541px !important;
  }

  .container_six {
    align-items: center;
    justify-content: center;
  }

  .social {
    align-items: center;
    justify-content: center;
  }
}

@media screen and (max-width:1061px) {
  .slide-headline {
    font-size: 50px;
    margin-bottom: 16px;
    line-height: 61px;
  }

  .slide-text {
    font-size: 18px;
    line-height: 22px;
    margin-bottom: 60px;
  }
}

@media screen and (max-width:960px) {
  .au-right-card {
    padding: 40px 35px;
  }

  .au-right {
    min-width: 668px;
  }

  .au-left {
    min-width: 668px;
    max-width: 730px;
  }

  .au-right-img {
    margin-right: 16px;
  }
}

@media screen and (max-width:770px) {
  .our-work__content {
    flex-direction: column !important;
  }

  .our-work__texts {
    order: 2 !important;
    margin-right: 0px;
  }

  .our-work__img {
    width: 100%;
    height: 284px;
    margin-bottom: 38px;
  }

  .our-work__list {
    justify-content: space-between;
  }

  .au-left {
    display: none !important;
  }

  .au-left-hide {
    display: block !important;
  }

  .au-list {
    align-items: flex-start;
  }

  .au-right-card {
    display: none !important;
  }

  .au-right-hide {
    display: block !important;
  }

  .hero {
    min-height: 290px;
  }
}

@media screen and (max-width:704px) {
  .swiper-pagination .swiper-pagination-bullet {
    width: 10px !important;
    height: 10px !important;
    margin-bottom: 5px !important;
  }

  .header__nav {
    padding-left: 15px !important;
    padding-top: 23px;
  }

  .close {
    margin-bottom: 32px;
  }

  .nav__link {
    font-size: 16px !important;
    line-height: 20px !important;
  }

  .nav__list li {
    margin-bottom: 32px;
  }

  .search-active {
    max-width: 320px;
    max-height: 69px;
    right: -15px;
    padding: 21px 15px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
  }

  .search__input {
    max-width: 222px;
  }

  .search__form {
    max-width: 300px;
    max-height: 27px;
  }

  .search__button {
    margin-left: 0px;
  }

  .logo-top {
    width: 110px;
    height: 35px;
  }

  .container {
    padding-left: 15px;
    padding-right: 15px;
  }

  footer {
    margin: 0 auto !important;
    padding: 33px 0px !important;
  }

  .form-input {
    min-width: 290px !important;
    width: 100%;
  }

  .footer-center {
    min-width: 290px !important;
    padding-bottom: 16px;
    border-bottom: 1px solid #414141;
    margin-bottom: 16px;
  }

  .footer-headline {
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
  }

  .about-us__headline {
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    color: #000000;
  }

  .au-description {
    font-weight: 400;
    font-size: 14px;
    line-height: 28px;
    color: #000000;
  }

  .our-work__tab {
    line-height: 17px !important;
    margin-right: 0px;
  }

  .our-work__tab button {
    padding: 0px;
    margin-right: 44px !important;
    font-weight: 400 !important;
    font-size: 14px !important;
  }

  .our-work__tab_four button {
    margin-right: 0px !important;
  }

  .acc-headline {
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    color: #000000;
    margin-bottom: 16px;
    margin-right: 23px;
  }

  .acc-item__title {
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    color: #000000;
    padding: 30px 0px;
  }

  .acc-item__accord {
    background-image: url(../img/+х.png);
    background-position: center;
    height: 30px;
    width: 30px !important;
  }

  .slide-headline {
    font-weight: 800;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    margin: 0 auto 6px;
    max-width: 420px;
  }

  .slide-text {
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
    text-align: center;
    margin: 0 auto 32px;
    max-width: 247px;
  }

  .swiper-slide {
    display: flex;
    max-height: 308px !important;
    align-items: center;
    justify-content: center;
    min-height: 308px;
    padding: 60px 22px;
    flex-direction: column;
  }

  .form-btn {
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
  }

  .footer-logo {
    width: 131px;
    margin-bottom: 15px;
  }

  .footer-left {
    margin: 0 auto;
  }

  .social__btn {
    width: 40px;
    height: 40px;
  }

  .accordion-list {
    margin-bottom: 60px;
  }

  .acc-item__title {
    margin-right: 15px;
  }

  .our-work__texts {
    margin-bottom: 60px;
  }

  .our-work__content {
    margin-bottom: 0px;
  }

  .our-work__text {
    margin-bottom: 25px;
  }

  .our-work__text p {
    font-weight: 400;
    font-size: 14px;
    line-height: 28px;
    margin-bottom: 0px;
  }

  .our-work__head {
    font-weight: 500 !important;
    font-size: 18px !important;
    line-height: 32px !important;
  }

  .our-work__btn__orange {
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
    padding: 13px 44px;
    margin-right: 8px;
    border-radius: 8px;
    border: 0px;
  }

  .our-work__btn__transparent {
    padding: 10px 30px;
    border-radius: 8px;
    margin-right: 0px !important;
  }

  .our-work__btn__transparent a {
    font-weight: 400 !important;
    font-size: 12px !important;
    line-height: 15px !important;
    margin-right: 0px;
  }

  .our-work__img {
    margin-bottom: 16px;
    border-radius: 16px;
    max-height: 160px;
  }

  .our-work__list {
    margin-bottom: 16px;
  }

  .our-work__headline {
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    margin-bottom: 20px;
  }

  .slide-btn {
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
    padding: 13px 28px;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    margin: 0 auto;
  }

  header {
    position: relative;
    overflow: hidden;
    margin-bottom: 30px;
  }

  .text-box {
    padding: 60px 22px;
  }
}
